@{
    ViewBag.Title = "Product listing";
    ViewBag.PageName = "Product listing";
}
@model IEnumerable<mvcapp.Models.Product>
<table>
<!-- The products -->
@foreach (var product in Model)
{
<tr><td>@Html.Partial("Product", product)</td>
<td>@string.Join(", ", product.Categories.Select(c=> c.Name))</td>
</tr>
}
</table>
